{% extends 'layout.html' %}

{% block body %}

<!-- Model Container
		===================== -->
		<section id='card'>
			<div class="container">
				
				<div class="col mb-4">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Height Weight Prediction</h5>
							<p class="card-text">This model is all about predicting the weight as per the input of gender and height. User is requested to to input their gender and height and as a result our model will predict ypur weight. We would like you to know that this model is build for the person which weight is average but not to those who has over weight and all. No offence. Good Luck with your weight. Thank you for visiting our site. Please visit us again.</p>
							<button onclick='window.location.href="/height_weight"'>Check Project</button>
							
						</div>
					</div>
				</div>
				<div class="col mb-4">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Spam or Ham Detection</h5>
							<p class="card-text">This model helps to detect whether your given input or message is spam or ham. Spam are the message which are message that are fake and we don't need these message. Usually these messages are advertisment, prize, offers and many more. Ham the authenticate messages. These message are use full. So through this model i tried to classify whether the messages are fake or authenticate by looking at the nature of the message.Good Luck with your messages. Thank you for visiting our site. Please visit us again.</p>
							<button onclick='window.location.href="/spam_ham"'>Check Project</button>
						</div>
					</div>
				</div>
				<div class="col mb-4">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
							<button onclick='window.location.href="/height_weight"'>Check Project</button>
						</div>
					</div>
				</div>
				<div class="col mb-4">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<button onclick='window.location.href="/height_weight"'>Check Project</button>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!-- End -->

{% endblock %}