{% extends 'layout.html' %}

{% block body %}

<!-- Form
	====================== -->
	{% block content %}
	<section id='form'>
		<div class="container">
			<h1>Spam or Ham Prediction</h1>


			<div class = 'row' style="margin-top: 50px">

				<div class = 'column' style="width: 50%;">
					<form action="" method="post">

						<div class="card">
							<h5 class='container'>Predict Here!!!</h5>
							<div class="card-body">
								<label>Message</label>
								<input type="text" class="form-control" id='detect' name="detect" placeholder="Write Messages" required="required">
								<small class="form-text text-muted">Please write some messages.</small>
							</div>
							<button type="submit">Predict Message</button>
						</div>
					</form>
				</div>


				<div class = 'column' style="width: 50%;">
					<div class = 'card' style=" height: 235px;">
						<h5 class='container'>Result will appear here!!!</h5>
						<p class="container">{{ message }}</p>	
					</div>
				</div>
				
			</div>

			
		</div>
	</section>
	{% endblock %}
	<!-- End -->

	{% endblock %}
